body {
  font-family: "Noto Sans", sans-serif;
}

/* title */

#divTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divTitle h1 {
  margin-left: 10px;
}

/* Error Popup */

#divEmptyErrorPopup {
  top: 82px;
  display: none;
  position: absolute;
  z-index: -1;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -110px;
  color: rgb(255, 95, 95);
}

#divDuplicateErrorPopup {
  top: 82px;
  display: none;
  position: absolute;
  z-index: -1;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -110px;
  color: rgb(255, 95, 95);
}

#divErrorPopups i {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#divErrorPopups p {
  margin-bottom: 2px;
  margin-top: 0px;
  font-size: 13px;
}

/* Form */

#divTodoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#inputTodo {
  font-size: 23px;
  width: 40vw;
  height: 35px;
}

#divFormButton {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divFormButtonText {
  display: inline-flex;
  align-items: center;
  padding: 5px 5vw;
  font-family: "Noto Sans", sans-serif;
}

#divFormButtonText i {
  width: 23px;
  margin-top: 0px;
}

/* Checkbox list  */

.divTodoCheckbox {
  position: relative;
}

.divCheckbox {
  margin-left: 15vw;
}

#ulTodoList > .divTodoCheckbox {
  margin-top: 15px;
  font-size: 20px;
  width: 70vw;
  word-wrap: break-word;
}

#ulCompletedTodoList > .divTodoCheckbox {
  margin-top: 15px;
  font-size: 20px;
  text-decoration: line-through;
  color: rgb(138, 138, 138);
  width: 70vw;
  word-wrap: break-word;
}

input[type="checkbox" i] {
  position: relative;
  right: 10px;
}

.iconCancel {
  color: rgba(255, 180, 180, 0.341);
  position: absolute;
  left: -30px;
  top: 3px;
}

.iconCancel:hover {
  color: rgba(255, 44, 44, 0.726);
}

.buttonCancel {
  background-color: transparent;
  border: transparent;
}



/* Completed Checkbox header */

#divCompletedTitle h2{
  display: none;
  position: relative;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

#divCompletedTitle hr{
  display: none;
}